body {
  font-family: "Playwrite FR Moderne", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
}
.name {
  color: rgb(224, 222, 78);
}
.container {
  padding: 50px 40px 10px 40px ;
}
.element {
  display: flex;
  justify-content: flex-end;
}
.part1 {
  width: 50%;
}
.part2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.part2 img {
  width: 660px;
}
