body {
  font-family: "Playwrite FR Moderne", cursive;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
h1 {
  font-size: 50px;
}
.name {
  color: rgb(224, 222, 78);
}
a {
  text-decoration: none;
  background-color: bisque;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container {
  padding: 20px 40px 10px 40px;
}
.element {
  display: flex;
  justify-content: flex-end;
}
.Hire-me {
  width: 100%;
  padding-top: 10px;
}
.part1 {
  width: 50%;
}
.part2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 img {
  width: 660px;
}
.experience {
  display: flex;
  justify-content:space-evenly;
  margin: 50px;

}
.frontend {
  padding-bottom: 20px;
}
.years {
  color: rgb(255, 217, 0);
  padding-bottom: 10px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area h2 {
  margin-left: 40px;
}
.box1 {
  border-radius: 10px;
  border-left: 4px solid rgb(26, 255, 0);
  margin-right: 15px;
  padding: 20px;
  width: 47%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.para {
  padding-bottom: 30px;
  font-size: small;
}
.box2 {
  border-radius: 10px;
  border-left: 4px solid goldenrod;
  margin-left: 15px;
  padding: 20px;
  width: 47%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer p {
  text-align: center;
  font-size: small;
  padding-bottom: 40px;
  padding-top: 50px;
}

